<h2 class="blog-post-title"><%= t(:confidencial_politics) %></h2>

<p>Когда Вы посещаете Сайт, мы определяем IP адрес, имя домена с которого Вы к нам пришли (например, «yandex.ru») и страну регистрации данного ip , а так же фиксируем все переходы посетителей с одной страницы Сайта на другую.
Сведения, которые мы получаем на Сайте, могут быть использованы для того, чтобы облегчить пользование Сайтом, включая, но не ограничиваясь следующие моменты:</p>

<p>формирование Сайта наиболее удобным для пользователей способом;</p>

<p>предоставление возможности подписаться на почтовую рассылку по специальным предложениям и темам (в пересективе) , если Вы хотите получать такие уведомления</p>

<p>Сайт собирает только общую информацию, которую ваш браузер предоставляет добровольно при посещении Сайта.</p>

<p>Сайт применяет стандартную технологию «cookies» («куки») для настройки стилей отображения Сайта под параметры экрана монитора. </p>

<p>«Куки» представляет собой данные с веб-сайта, который браузер сохраняет на жестком диске Вашего же компьютера. В «cookies» содержится информация, которая может быть необходимой для настройки Сайта, — для сохранения Ваших установок вариантов просмотра и сбора статистической информации по Сайту, т.е. какие страницы Вы посетили, что было загружено, имя домена интернет-провайдера и страна посетителя, а также адреса сторонних веб-сайтов, с которых совершен переход на Сайт и далее.</p>

<p>Также данную технологию использует установленные на Сайте счетчики компании Yandex/Rambler/Google и т.п.</p>

<p>Технология «Cookies» не содержат никаких личных сведений относительно Вас. Чтобы просматривать материал без «cookies», Вы можете настроить свой браузер таким образом, чтобы она не принимала «cookies» либо уведомляла Вас об их посылке (настройки браузеров различны, поэтому советуем Вам справиться в разделе «Помощь» и выяснить, как изменить установки браузера по «cookies»). Подробно о работе куки файлов Вы можете прочитать сдесь: http://ru.wikipedia.org/wiki/HTTP_cookie</p>

<p>Кроме того, Сайт использует стандартные возможности (журналы) веб-сервера для подсчета количества посетителей и оценки технических возможностей хост-сервера, рейтинги и счетчики посещаемости от сторонних организаций (yandex.ru,top100.rambler.ru, top.mail.ru и др.). Мы используем эту информацию для того, чтобы определить, сколько человек посещает Сайт и расположить страницы наиболее удобным для пользователей способом, обеспечить соответствие Сайта используемым Вами браузерам, и сделать содержание Сайта максимально полезным для посетителей. Мы записываем сведения по перемещениям на Сайте, но не об отдельных посетителях Сайта, так что никакая конкретная информация относительно Вас лично не будет сохраняться или использоваться Администрацией Сайта без Вашего согласия.</p>