<h2 class="blog-post-title"><%= t(:home) %></h2>

<p>Добро пожаловать в сервис блогов. Цель создания этого сайта - практика с фреймворком  Ruby on rails. Буду рад услышать любые замечания, пожелания и вообще критику в <%= link_to 'гостевой книге', recalls_path %>.</p>

<p>Исходный код находится по адресу <%= link_to 'https://github.com/zlodiak/ZSUM', 'https://github.com/zlodiak/ZSUM' %></p>

<p>Этот сайт предоставляет возможность любому желающему зарегистрироваться и завести свой блог. А так же возможность читать блоги других пользователей.</p>

<p>Для тех, кому лень регистрироваться вот реквизиты для входа через тестовый аккаунт: </p>
<strong class="login_data">
Email: qwerty@ru.ru<br />
Password: qwerty
</strong>

<p>
  <div id="vk_like"></div>
  <script type="text/javascript">
  VK.Widgets.Like("vk_like", {type: "button"});
  </script>
</p>

