<h2 class="blog-post-title"><%= t :tags %></h2>

<div class="tags_list row">
  <% @tags.each do |tag| %>
    <div class="col-xs-6 col-sm-4 tag_cell">
      <span class="title"><%= link_to tag.tagname, tag_path(tag.id) %></span>
      <span class="count"><%= tag.posts.count %></span>
    </div>
  <% end %>
</div>
