<h2 class="blog-post-title">guestbook</h2>

<div class="row">
  <% @guestbooks.each do |guestbook| %>
    <article class="article guestbook_post">
      <h3 class="col-xs-12 col-sm-6 h3 name"><%= guestbook.name %></h3>
      <div class="col-xs-12 col-sm-6 email"><%= guestbook.email %></div>
      <div class="col-xs-12 message"><%= guestbook.message %></div>
    </article> 
  <% end %>      
</div>

<%= will_paginate @guestbook %>




<%#= link_to 'Show', guestbook %>
<%#= link_to 'Edit', edit_guestbook_path(guestbook) %>
<%#= link_to 'Destroy', guestbook, method: :delete, data: { confirm: 'Are you sure?' } %>
<%#= link_to 'New Guestbook', new_guestbook_path %>
