<div class="row">
  <div class="col-xs-10">
    <% if !current_user?(@user) %>
      <%= render 'shared/thumb_icon' %>
    <% end %>

    <% if @user %><div class="row"><div class="col-xs-10"><% end %>
      <h2 class="blog-post-title"><%= t(:posts) %> <%= @user.name %></h2>
    <% if @user %></div></div><% end %>
  </div>
</div>

<%= render 'shared/table_posts' %>

