/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require fancybox
 *= require_tree .
 *= require_self
 */

/* fancybox */
.fancybox-skin{
  background: rgb(195, 190, 190);
  background: #d4d4d4;
}


/* media for userpanel */
@media (min-width: 768px) {
  body{
    background: yellow;
  }

  .blog-title{
    font-size: 60px;  
    font-weight: normal;
  }  
}

@media (min-width: 992px) {
  body{
    background: lime;
  }
}

@media (min-width: 1200px) {
  body{
    background: red;
  }
}







/* media for adminpanel */
@media (min-width: 768px) {
  .userpanel .common_table .headers_table{
    display: block;
  }

  .adminpanel .common_table .headers_table{
    display: block;
  } 

  body{
    background: yellow;
  }
}

@media (min-width: 992px) {
  body{
    background: lime;
  }
}

@media (min-width: 1200px) {
  body{
    background: red;
  }
}


  