@import "bootstrap-sprockets";
@import "bootstrap";


/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

  body a:hover{
    background: none;
    text-decoration: none;
  }

table{
  width: 100%;
}



h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

h3, .h3{
  margin-bottom: 0;
}

.menu_h4{
  display: none;
}

.content_image{
  float: left;
  display: block;
  padding: 15px 7px 7px 0;
}

.blog-main .content_link:hover{
  text-decoration: none;
}

.blog-main .content_link{
  text-decoration: underline;
}

.hide{
  display: none !important;
}

.main_area{
  padding-bottom: 30px;
}


.userpanel .common_table .headers_table{
  display: none;
}


/* sort_by */
.sort_by{
  padding-top: 20px;
}

.sort_by form label{
  min-width: 70px;
}


/* search_by */
.search_by{
  padding-bottom: 50px;
}

  .search_by .fld_phrase{
    position: relative;
    top: 5px;
  }

  .search_by .btn_submit{

  }

  .search_by input{
    width: 100%;
  }

    .search_by form > div{

    }

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Masthead for nav
 */



.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item:visited,
.blog-nav-item {
  position: relative;
  display: block;
  padding: 2px 10px;
  font-weight: 500;
  color: #000;
}
.blog-nav-item:hover,
.blog-nav-item:focus {



}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header:hover {
  text-decoration: none;
}

.blog-header {
  overflow: hidden;
  text-decoration: none;
}
.blog-title {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: bold;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  /*  font-size: 18px;
    line-height: 1.5;
    text-align: left;*/

  color: #555;
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 27px; 
}










/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 0px 15px 15px;
  margin: 0 -15px 0px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin-bottom: 25px;
  overflow: hidden;
}

  .sidebar-module-inset a{
    

  }

  .sidebar-module-inset img{
    width: 100%;
    margin-bottom: 16px;
  }

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}
.sidebar-module-inset a.avtive,
.sidebar-module-inset a:hover{

}

.blog-main a,
.blog-main a:visited,
.sidebar-module-alt a:visited,
.sidebar-module-alt a{
  color: #337ab7;
  text-decoration: none;
}

.blog-main a:hover,
.sidebar-module-alt a:hover{
  color: #23527c;
  text-decoration: none;
}

.sidebar-module-alt{
  margin-top: 22px;
}

/* Pagination */
.pagination {
  margin-bottom: 60px;
  text-align: left;
}
  .pagination .gap:before{
    content: '..';

    position: absolute;
    bottom: 0;
    left: -9px;

    font-size: 30px;
    color: #337ab7;
  }

  .pagination .gap{
    position: relative;
  }

    .pagination .gap span{
      display: none;
    }  

  .pagination .previous_page:before {
    position: absolute;
    top: -3px;
    left: 0;

    font-size: 30px;

    content: '«';
  }

  .pagination .next_page:before {
    position: absolute;
    top: -3px;
    right: 0;

    font-size: 30px;

    content: '»';
  }  

  .pagination .next_page,
  .pagination .previous_page {
    position: relative;
    display: inline-block;
  }

    .pagination .next_page span,
    .pagination .previous_page span{
      /*      display: none;*/
      overflow: hidden;
      text-indent: -1000px;
      display: inline-block;
      width: 0;
    }

  .pagination .disabled {
    display: none;
  }

  .pagination .current {
    border: 1px solid #337ab7;

    /*text-decoration: underline;*/
    font-style: normal;
    color: #337ab7;
  }

  .pagination .current,
  .pagination a {
    padding: 10px 10px;
    text-align: center;

  }


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 20px;
  font-size: 40px;
}

.blog-post-title-lite{
  margin-bottom: 10px;
}

form label,
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.blog-footer a:visited,
.blog-footer a{
  color: #337ab7;
  text-decoration: underline;
}

.blog-footer a:hover{
  color: #23527c;
  text-decoration: none;
}

















/**/
.blog-masthead{
  padding: 10px 0;
  overflow: hidden;

  color: #fff;
}

  .blog-masthead a:hover{
    text-decoration: none;
  }

  .blog-masthead a:visited,
  .blog-masthead a{
    color: #fff;
    text-decoration: underline;
  }

.alert{
  margin-bottom: 27px;
}

.language_area a.active:before{
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

.language_area a{
  position: relative;
  margin-left: 10px;
}

.auth_area a:first-child{
  margin-right: 10px;
}

.blog-masthead .auth_area .to_admininterface:before{
  content: '>>>>>';

}

.blog-masthead .auth_area .to_admininterface{
  margin-left: 8px;  
}

.adminpanel .blog-masthead .auth_area .to_admininterface{
  display: none;

}




.blog-masthead .auth_area .to_userinterface:before{
  content: '<<<<<';

}

.blog-masthead .auth_area .to_userinterface{
  margin-left: 8px;

}

.adminpanel .blog-masthead .auth_area .to_userinterface{
  display: inline-block;
}

.blog-masthead .auth_area .to_userinterface{
  display: none;
  margin-left: 8px;
}


/* form */
form{
}

  form .row{
    margin-bottom: 23px;
  }

  form label{
    min-width: 150px;

    vertical-align: baseline;
  }

  form input[type='search'],
  form input[type='password'],
  form input[type='email'],
  form input[type='text']{
    padding: 5px 5px;
    overflow: hidden;
    width: 100%;

    vertical-align: baseline;
  }

  form input[type='submit']:hover{
    color: #23527c;
    background: #f5f5f5 ;
  }

  form .actions{
    margin-top: 15px;
  }

    form .actions .col{
      height:49px;
    }

      form .actions .col a{
        margin-top: 11px;
        display: inline-block;
      }

  form input[type='submit']{
    min-width: 140px;
    text-align: center;
    border-radius: 30px;
    display: inline-block;
    padding: 10px 30px;
    background-color: #fff;
    border: 1px solid #ddd;  
    color: #337ab7;
    text-decoration: none;  
    margin-right: 15px;
  }

  form textarea{
    overflow: hidden;
    width: 100%;
    height: 400px;
  }

  form .field_with_errors{
    /*display: inline-block;*/

    vertical-align: baseline;
  }

    form .field_with_errors textarea,
    form .field_with_errors input{
      border: 1px solid red;
    }

  form a,
  form a:visited{
    color: #337ab7;
    text-decoration: underline;
  }

  form a:hover{
    color: #23527c;
    text-decoration: none;
  }

  form .image_loaded{
    margin-bottom: 10px;
  }


/* alert */
.alert-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-error hr {
  border-top-color: #e4b9c0;
}

.alert-error .alert-link {
  color: #843534;
}

.alert-notice {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.alert-notice hr {
  border-top-color: #a6e1ec;
}
.alert-notice .alert-link {
  color: #245269;
}




/* common_table */

.common_table{

}

  .blog-main .common_table a{
    color: #555;
  }

  .common_table .th{
    color: #333;
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
  }




/* actions */


.glyphicon{
  margin-left: 10px;

  
}

.blog-main a.glyphicon{
  color: red;
}




/* adminpanel */

.adminpanel{


}

  .adminpanel .blog-main{
    font: 12px verdana, arial, helvetica, sans-serif;
    color: #000;
  }



  .adminpanel .blog-main{

  }  

    .adminpanel .blog-main a.name{
      color: #000;
    }

  .adminpanel .blog-main .row{
    padding-bottom: 10px;

  }  

  .adminpanel .pagination .next_page:before,
  .adminpanel .pagination .previous_page:before{
    top: -4px;
  }

  .adminpanel .blog-main .pagination em,
  .adminpanel .blog-main .pagination a{
    color: red;
    border-color: red;
  }



  .adminpanel .blog-masthead{
    background: red;
  }

  .adminpanel .header .value,
  .adminpanel .header .label,
  .adminpanel .header{
    color: #000;
    font: bold 14px verdana, arial, helvetica, sans-serif;

    padding: 0;
    margin: 0;
  }   


  .adminpanel .header{
    padding: 20px 0 10px;
    overflow: hidden;

    text-align: center;
  }

    .adminpanel .header > div{
      padding-bottom: 10px;
    }

/* bootstrap */    
.navbar-default{
  background: none;
  border: none;
}

.navbar-default .navbar-collapse,
.navbar-default {
  background: none;
  border: none;
}
