// Place all the styles related to the guestbooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.guestbook_post{
  padding-bottom: 30px;
  overflow: hidden;
}

  .guestbook_post .name{

  }

  .guestbook_post .email{
    text-align: right;
    font-size: 14px;
    vertical-align: top;
  }

  .guestbook_post .message{

  }    


.guestbook_form{
  padding-bottom: 30px;
}  

  .guestbook_form textarea{
    height: 200px;
  }