// Place all the styles related to the recalls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.recall_post{
  padding-bottom: 30px;
  overflow: hidden;
}

  .recall_post .name{

  }

  .recall_post .email{
    text-align: right;
    font-size: 14px;
    vertical-align: top;
    color: #337AB7;
  }

  .recall_post .message{

  }    


.recall_form{
  padding-bottom: 30px;
}  

  .recall_form textarea{
    height: 200px;
  }