<div class="auth_area">
  <% if signed_in? %>
    logined <%= link_to "Sign out", signout_path, method: "delete"  %>
  <% else %>
    not logined <%= link_to "Sign in",  signin_path %> | <%= link_to 'Зарегистрироваться', signup_path %>
  <% end %>
</div>

