<%= link_to pages_home_path, class: 'blog-header col-xs-12' do %>
  <h1 class="blog-title"><%= t(:diary_of_a_madman) %></h1>
  <p class="lead blog-description"><%= t(:service_of_wonderful_blogs) %>.</p>
<% end %>

