<nav class="language_area col-xs-12 col-sm-2">
  <%= link_to 'Рус',  pages_lang_toggle_path(locale: 'ru'), class: 'pull-right active', id: 'rus' %>
  <%= link_to 'Eng',  pages_lang_toggle_path(locale: 'en'), class: 'pull-right', id: 'eng' %>
</nav>