<nav class="blog-nav">
  <%= link_to 'Home',  pages_page1_path, class: 'blog-nav-item' %>
  <%= link_to 'Page2',  pages_page2_path, class: 'blog-nav-item' %>
  <%= link_to 'Page3',  pages_page3_path, class: 'blog-nav-item' %>
  <%= link_to 'Page4',  pages_page4_path, class: 'blog-nav-item' %>
</nav>